<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Browse artworks</h1>

  <div class="cards-container">
    <%= @artworks.each do |artwork| %>
      <div class="artwork-card">

        <div class="artwork-photo">
          <img src="https://i.picsum.photos/id/883/250/300.jpg?hmac=gahYTGRcpq6Ck6JiuOO7DDvOFllHeqLOonaxttqWIPM" alt="">
        </div>

        <div class="artwork-information">
          <div class="artwork-details">
            <h2><%= artwork.title %></h2>
            <h4><%= artwork.artist %> | <%= artwork.date %></h4>
            <p><%= artwork.description %></p>
          </div>
          <div class="artwork-price-tag">
            <p><strong>£<%= artwork.price_per_day %></strong> per day</p>
            <p><%= artwork.style %></p>
          </div>

        </div>

      </div>
    <% end %>
  </div>
</div>



<br>
