<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

<p id="notice"><%= notice %></p>

<div class="container">

  <div class="text-center border-bottom my-4 py-4">
    <h1>Welcome to ArtMart</h1>
    <h3>The best place to rent artworks online</h3>
    <p>ArtMart is an easy-to-use service that helps you enjoy your favourite artworks without breaking the bank.<br>
    Why spend millions on a Picasso painting when you could rent it for just a fraction of the price? <br>
    Browse today and discover some of the best artists in history! </p>

  </div>
  <div class="my-5">
  <%= render "search" %>
  </div>
  <div class="my-5">
    <%= render "style_filter" %>
  </div>

  <h2 class="my-3 px-1">Browse artworks</h2>

  <div class="cards-container">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork do %>
      <div class="artwork-card">

        <div class="artwork-photo">
          <% if artwork.photo.key %>
            <%= cl_image_tag artwork.photo.key, height: 360, width: 240, crop: :fill %>
          <% else %>
            <img src="https://picsum.photos/240/360" alt="">
          <% end %>
        </div>

        <div class="artwork-information">
          <div class="artwork-details">
            <h2><%= artwork.title %></h2>
            <h4><%= artwork.artist %> | <%= artwork.date %></h4>

            <div class="description-container">
              <p><%= artwork.description %></p>
            </div>
          </div>

          <div class="artwork-price-tag">
            <p><%= artwork.style %></p>
            <h3><strong>£<%= artwork.price_per_day %></strong> per day</h3>
          </div>
        </div>

      </div>
      <% end %>
    <% end %>
  </div>
</div>
