<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

<p id="notice"><%= notice %></p>

  <div class="container">
    <h3>Browse artworks</h3>
    <p><%= link_to 'Add new artwork', new_artwork_path %></p>
  </div>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><p><%= artwork.title %></p></td>
        <td><p><%= link_to 'Show', artwork %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
