<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 mt-5">
      <h1>Add an artwork</h1>
      <br>
      <%= simple_form_for @artwork do |f| %>
        <%= f.input :title, label: "Title" %>
        <%= f.input :artist, label: "Artist" %>
        <%= f.input :photo, as: :file, label: "Photo" %>
        <%= f.input :price_per_day, label: "Price per day" %>
        <%= f.input :style, label: "Style", :collection => %w[Abstract Impressionist Cubist Realist Surrealist Minimalist Other]%>
        <%= f.input :description, label: "Description" %>
        <%= f.input :date, label: "Date" %>
        <%= f.submit "Add artwork", class: "btn btn-slim" %>
      <% end %>
      <br>
      <%= link_to "Back to artworks", artworks_path %>
      <br>
      <br>
    </div>
  </div>
</div>
