<div class="card-container">

  <div class="artwork-img-lg">
    <img src="/assets/Hockney-1024x809.jpeg" alt="">
  </div>

  <div class="details-container">
      <h1><%= @artwork.title%></h1><br>
      <h2><%= @artwork.artist%></h2><br>
      <h3><%= @artwork.date%></h3><br>
      <%= @artwork.style%><br>
      <p><%= @artwork.description%></p><br>
      <%= @artwork.price_per_day%><br>
  </div>
</div>
