<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

<%# <div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %>
<%# </div> %>

<% if @commentCreated %> You created a comment <% end %>.

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#my-collection" type="button" role="tab" aria-controls="home" aria-selected="true">My collection</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#my-bookings" type="button" role="tab" aria-controls="profile" aria-selected="false">My bookings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class= "<%= @pending_artworks_bookings.count > 0 ? 'nav-link notification' : 'nav-link' %>" id="requests-tab" data-bs-toggle="tab" data-bs-target="#my-requests" type="button" role="tab" aria-controls="requests" aria-selected="false">
    <% if @pending_artworks_bookings.count > 0%>
    My requests (<%= @pending_artworks_bookings.count%>)
    <% else %>
    My requests
    <% end %>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#my-rentals" type="button" role="tab" aria-controls="contact" aria-selected="false">My rentals</button>
  </li>
</ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="my-collection" role="tabpanel" aria-labelledby="home-tab">
      <div class="cards-my-account-container">
        <% @user.artworks.each do |artwork| %>
          <div class="artwork-card">

            <div class="artwork-photo">
              <% if artwork.photo.key %>
                <%= cl_image_tag artwork.photo.key, height: 360, width: 240, crop: :fill %>
              <% else %>
                <img src="/assets/Hockney-1024x809.png" alt="">
              <% end %>
            </div>

            <div class="artwork-information">
              <div class="artwork-details">
                <h2><%= link_to artwork.title, artwork %></h2>
                <h4><%= artwork.artist %> | <%= artwork.date %></h4>
                <div class="description-container">
                  <p><%= artwork.description %></p>
                </div>
              </div>
              <div class="artwork-price-tag">
                <p><%= artwork.style %></p>
                <h3><strong>£<%= artwork.price_per_day %></strong> per day</h3>
              </div>

            </div>

          </div>
        <% end %>
      </div>
      <%= link_to "Upload a new artwork", new_artwork_path, class: "btn btn-slim", id: "upload-artwork" %>
    </div>

    <div class="tab-pane fade" id="my-bookings" role="tabpanel" aria-labelledby="profile-tab">
      <div class="cards-my-account-container">
        <% @artworks_bookings.each do |booking| %>
        <% if booking.status == "approved" %>
          <div class="artwork-card">

            <div class="artwork-photo">
              <% if booking.artwork.photo.key %>
                <%= cl_image_tag booking.artwork.photo.key, height: 360, width: 240, crop: :fill %>
              <% else %>
                <img src="/assets/Hockney-1024x809.png" alt="">
              <% end %>
            </div>

            <div class="artwork-information">
              <div class="artwork-details-my-bookings">
                <h2><%= link_to booking.artwork.title, artwork_path(booking.artwork_id) %></h2>
                <h4><%= booking.artwork.artist %> | <%= booking.artwork.date %></h4>
              </div>
              <div class="booking-details">
                <p>Rented to <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong></p>
                <p>From <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong></p>
                <% booking_length = (booking.end_date - booking.start_date).to_i%>
              </div>
              <div class="booking-overview">
                <h2>Total |  <%= booking_length %> days</h2>
                <h2>Amount due | £<%= (booking_length * booking.artwork.price_per_day).round(2) %></h2>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="my-requests" role="tabpanel" aria-labelledby="requests-tab">
      <div class="cards-my-account-container">
        <% @artworks_bookings.each do |booking| %>
          <% unless booking.status == "approved" || booking.status == "declined" %>
            <div class="artwork-card">
              <div class="artwork-photo">
                <% if booking.artwork.photo.key %>
                  <%= cl_image_tag booking.artwork.photo.key, height: 360, width: 240, crop: :fill %>
                <% else %>
                  <img src="/assets/Hockney-1024x809.png" alt="">
                <% end %>
              </div>
              <div class="artwork-information">
                <div class="artwork-details">
                  <h2><%= link_to booking.artwork.title, artwork_path %></h2>
                  <h4 style="margin-bottom:15px;"><%= booking.artwork.artist %> | <%= booking.artwork.date %></h4>
                </div>
                <div class="booking-details">
                  <p>Requested by <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong></p>
                  <p>From <strong><%= booking.start_date %> </strong>to <strong><%= booking.end_date %></strong></p>
                  <% booking_length = (booking.end_date - booking.start_date).to_i%>
                </div>
                <div class="booking-overview pt-2">
                  <h2>Total | <%= booking_length %> days</h2>
                  <h2>Amount due | £<%= (booking_length * booking.artwork.price_per_day).round(2) %></h2>
                  <%= link_to 'Approve', approve_booking_path(booking), class: "btn btn-slim", method: :post %>
                  <%= link_to 'Decline', decline_booking_path(booking), class: "btn btn-orange", method: :post %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="tab-pane fade" id="my-rentals" role="tabpanel" aria-labelledby="contact-tab">
      <div class="cards-my-account-container">
        <% @user.bookings.each do |booking| %>
          <% if booking.status == "approved" %>
            <div class="artwork-card">

              <div class="artwork-photo">
                <% if booking.artwork.photo.key %>
                  <%= cl_image_tag booking.artwork.photo.key, height: 360, width: 240, crop: :fill %>
                <% else %>
                  <img src="/assets/Hockney-1024x809.png" alt="">
                <% end %>
              </div>

              <div class="artwork-information">
                <div class="artwork-details">
                  <h2><%= link_to booking.artwork.title, artwork_path %></h2>
                  <h4><%= booking.artwork.artist %> | <%= booking.artwork.date %></h4>
                </div>
                <div class="booking-details">
                  <p>From the collection of <strong><%= booking.artwork.user.first_name %> <%= booking.artwork.user.last_name %></strong></p>
                  <p>Yours from <strong><%= booking.start_date %> </strong>to <strong><%= booking.end_date %></strong></p>
                  <% booking_length = (booking.end_date - booking.start_date).to_i%>
                </div>
                <div class="booking-overview">
                  <h2>Total | <%= booking_length %> days</h2>
                  <h2>Amount due | £<%= (booking_length * booking.artwork.price_per_day).round(2) %></h2>
                </div>
              </div>
            </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
