<div class="container text-center d-flex align-items-center p-4">


  <div id="carouselExampleSlidesOnly" class="carousel slide text-center mx-auto" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "klimt_flower_garden.jpeg", alt: "Klimt painting", class: "d-block carousel-img" %> <br>
      <h2>Gustav Klimt</h2>
      <p>The master of <strong>symbolism</strong></p>
    </div>

    <div class="carousel-item">
      <%= image_tag "pollock_number_1.jpeg", alt: "Pollock painting", class: "d-block carousel-img" %> <br>
      <h2>Jackson Pollock</h2>
      <p><strong>Abstract</strong> art for non-conformists</p>
    </div>

    <div class="carousel-item">
      <%= image_tag "mondrian.jpeg", alt: "Mondrian painting", class: "d-block carousel-img" %> <br>
      <h2>Mondrian</h2>
      <p><strong>Abstract</strong> art with lots of nice colours</p>
    </div>

    <div class="carousel-item">
      <%= image_tag "monet_water_lilies.jpeg", alt: "Monet's water lilies", class: "d-block carousel-img" %> <br>
      <h2>Monet</h2>
      <p>The French expert of <strong>Impressionism</strong></p>
    </div>

    <div class="carousel-item">
      <%= image_tag "dali_clocks.png", alt: "Klimt", class: "d-block carousel-img" %> <br>
      <h2>Dali</h2>
      <p>The weird and wonderful world of <strong>Surrealism</strong></p>
    </div>

  </div>
</div>

  <div>
    <h1>About us</h1>
    <div class="text-center m-auto border-bottom mb-5 w-75">
      <p>ArtMart is an rental service for art lovers on a budget. Enjoy classic works from renowned artists, at just a fraction of the price. <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</div>
